@charset "UTF-8";
html {
    font: 1.2em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
}

* {
    box-sizing: border-box;
}

section.preview {
    margin: 20px auto;
    padding: 10px;
    width: 90%;
    max-width: 980px;
    border: 1px solid #4d5053;
    border-radius: 2px;
}

section.preview input {
    display: block;
    margin: 5px;
}

textarea.playable {
    display: block;
    margin: 20px auto;
    padding: 10px 10px 0px;
    width: 90%;
    max-width: 980px;
    border: none;
    border-left: 6px solid #55acbb;
    background-color: #f4f6f8;
    font-family: monospace;
    font-weight: bold;
    color: #4d5053;
    font-size: 120%;
}

.playable-buttons {
    margin: 20px auto;
    padding: 5px 0 5px 26px;
    width: 90%;
    max-width: 980px;
    text-align: right;
    font-size: 100%;
}
